* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

#main{
max-width: 90%;
margin: 0,auto;

}


body {
background-image: linear-gradient(to right, #16ed71,#145a29);
max-width: 90%;
margin: auto;
font-family: 'Open Sans';
color: #622417;
background: url(zen.jpeg);
background-repeat:no-repeat;
background-position: bottom-right;
background-size: cover;

}

header:first-child h1{
background-color: yellow;

}
p:first-of-type{
font-weight: bold;

}




p {
font-family:  Times New Roman, Georgia, Serif;
letter-spacing: 2px;
font-size: 18px;
color: #622417;

}

table{
  border-style: dashed;
}
th{
border-bottom: solid;

}
.white{
  background-color: white;
}

.grey{
background-color: grey;

}

.villagers {
font-style: italic;
border-color: blue;
}

.farmer {
  font-style: italic;
}

.good {
text-transform: capitalize;
color: green;
}

.bad {
text-transform: capitalize;
color: red;
 }


q {
display:block;
width: 300px;
margin: auto;
font-size: 160%;
background-color: lightgrey;
border-left:dashed;
border-width: 3px;
padding-left: 30px;
margin-top: 60px;
margin-bottom: 80px;

}



img {
width: 300px;
display: block;
height: auto;
padding: 5px;
float:right;
margin-top: -50px;


}


a {
font-family: FreeSerif, Georgia, Times New Roman,


}

a:link{
color:#176224;
font-weight: bolder;
}

a:visited {
color: brown;

}

a:hover {
color:blue;
}

.thumb{
list-style-image: url(bien.png);

}

.cat{
list-style-image: url(chat.png);
}

footer {
border-top: solid;
border-width: 5px;
border-radius: 8px;
background-color: white;
margin-bottom: -10px;
padding-bottom: 30px;
text-align: center;


}
